@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ind: #6366f1;
  --ind-d: #4f46e5;
  --ind-l: #e0e7ff;
  --ind-ll: #f0f1ff;
  --em: #10b981;
  --em-d: #059669;
  --em-l: #d1fae5;
  --dk: #0f172a;
  --dk2: #1e293b;
  --lt: #f8f9ff;
  --lt2: #f1f5f9;
  --tx: #0f172a;
  --tx2: #475569;
  --tx3: #94a3b8;
  --am: #f59e0b;
  --am-l: #fef3c7;
  --rd: #ef4444;
  --rd-l: #fee2e2;
  --r: 12px;
  --rlg: 16px;
  --rpill: 999px;

  --color-primary: #4648d4;
  --color-primary-container: #6063ee;
  --color-on-primary: #ffffff;
  --color-primary-fixed: #e1e0ff;
  --color-primary-fixed-dim: #c0c1ff;
  --color-secondary: #006c49;
  --color-secondary-container: #6cf8bb;
  --color-on-secondary-container: #00714d;
  --color-secondary-fixed: #6ffbbe;
  --color-secondary-fixed-dim: #4edea3;
  --color-tertiary: #545c72;
  --color-surface: #f8f9ff;
  --color-on-surface: #191c20;
  --color-on-surface-variant: #464554;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f3f9;
  --color-surface-container-high: #e7e8ee;
  --color-background: #f8f9ff;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-error: #ba1a1a;
  --color-outline-variant: #c7c4d7;
}

html,
body {
  background-color: var(--color-background);
  color: var(--color-on-surface);
  font-family: var(--font-sora), system-ui, sans-serif;
}

.dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px);
  background-size: 24px 24px;
}
